.box {
	display: flex;
	align-items: center;
}

.greeting-text {
	font-family: 'Boogaloo', cursive;
	font-size: 1.25em;
}

body{
    background: linear-gradient(#1b42ab, #e125bc);
    background-size:auto;
    background-repeat: repeat;
    background-position:center;
    padding:1.3333333333rem;
}

*{
    box-sizing:border-box;
    position:relative
}

body {
	font: 100%/1.25  'Cormorant Garamond', serif;
	color: rgb(255, 255, 255);
  line-height: 1.5;
}

a {
    color: aliceblue;
	text-decoration:none;
	transition: color .25s ease-in-out;
}

a:hover {
	color: #39b484;
}

ul,ol{
    list-style:none
}

.small_caps {
	font-feature-settings: 'SS12';
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.10416667em;
}

.bio_section {
	padding-top: 2em;
	display: flex;
	flex-direction: row;
}

.header {
	margin: 0 auto;
	padding: 1.5em;
	border-bottom: 1px solid #eee;
}

.header ul {
	text-align: center;
}

.header li {
    display: inline-block;
	margin: 0 0.41666667em;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.10416667em;
	font-weight: 500;
}

.header a {
	padding: 0.41666667em;
	margin: -0.41666667em;
}

h1, h2 {
	font-variant: small-caps;
  font-size: 5vw;
}
@media screen and (min-width: 1200px) {
  div {
     font-size: 36px;
  }
}

.greeting-image {
	margin-left: 20px;
	max-width: 400px;
	width: 100%;
	height: auto;
	display: flex;
	float: right;
  border: 5px solid white;
}

.screencap{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.screencap {
    max-width: 300px;
    height: auto;
}

.description {
	font-size: 1em;
	justify-content: center;
	display: flex;
	align-items: center;
}

.footer {
    margin: 0 auto;
    padding: 1.66666667em;
    border-top: 1px solid #eee;
    text-align: center;
    font-variant: small-caps;
}

@media only screen and (min-width: 672px)  {
	body {
		font-size: 150%;  /* 24px */
	}
}
@media only screen and (min-width: 1500px)  {
	body {
		font-size: 175%; /* 28px */
	}
}
@media only screen and (min-width: 2000px) {
	body {
		font-size: 200%; /* 32px */
	}
}